
body {
    display: flex;
    flex-direction: column;
}

.topDiv {
    background-color: yellow;
    padding: 40px;
}

.midDiv {
    background-color: blueviolet;
    padding: 135px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.etchDiv {
    display: grid;
    background-color: aquamarine;
    width: 600px;
    height: 600px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    
}

.gridItem {
    width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.botDiv {
    background-color: lightcoral;
    padding: 40px;
}

.unPainted {
    background-color: white;
    
  }
  
  .painted {
    background-color: black;
  }