
body {
    display: flex;
    flex-direction: column;
}

.topDiv {
    background-color: yellow;
    padding: 40px;
}

.midDiv {
    background-color: blueviolet;
    padding: 135px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.etchDiv {
    display: grid;
    background-color: aquamarine;
    width: 600px;
    height: 600px;
    
}

.botDiv {
    background-color: lightcoral;
    padding: 40px;
}